* {
  text-decoration: none;
  list-style: none;
}

.magic-btn {
  box-shadow: 1px 1px 1px black;
  cursor: pointer;
  height: 40px;
}
/* .js-magic-btn {
}
.icon {
}
.site-nav {
} */
.site-nav__item--curent {
  color: rgb(9, 249, 0);
}

.site-nav__link .site-nav__item--curent {
  color: black;
}

.photo {
  height: 100px;
  width: 100px;
}

.color-picker__option {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}
